# Node modules need to be installed through yarn
node_modules/

# Environment variables
src/.env
conf.json

# Any logs created
*.log
bot.json

# Browserify
web/static/bundle.js
web/index-down.html

# VSCode settings
.vscode/